<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/navbar'); %>    
    <h1>Vista de Productos</h1>

    <% if(products?.length > 0){ %>
    <% products.forEach((item) => { %>
        <table>
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto</th>
                </tr>
                <tr>
                    <td><strong><%=item.titulo%></strong></td>
                    <td>$ <%=item.precio%></td>
                    <td><img src="<%=item.thumbnail%>"/></td>
                </tr>
            </tbody>
        </table>    
   <% }) %>
   <button><a href="/">Agregar Productos</a></button>  
    <% } else { %>
        <h2>No hay Productos</h2>
    <% } %>
    
    <%- include('./partials/footer'); %>
</body>
</html>